*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-style: bold 700;
}

body{
    min-height:100%;
}

#mobileNav{
    display:none;
}




/*Navigation*/
header{
    min-width:100%;
    display:flex;
    position:fixed;
    top:0;
    background-color:#000;
}

header img{
    height:80px;
    padding:10px 0px 15px 20px;
}

nav{
    width:100%;
    text-align:right;
    margin:30px 0px;
}

nav li{
    display:inline-block;
    padding: 0px 30px;
}

nav a{
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}



/* About */
#me{
    max-width:100%;
    margin:100px 30px;
    display:flex;
    min-height:calc(100vh - 30vh);
}

#aboutPic{
    width:40%;
    text-align:center;
}

#aboutPic img{
    max-width: 100%;
}



/*About Text*/
#about{
    width:60%;
    margin:0px 30px;
}

#about h1{
    background-color:#000;
    color:#fff;
    padding: 5px 0px 10px 10px;
}

#aboutText{height:40%;}

#contact{height:60%;}

#aboutText p, #contact p{
    line-height:2.5;
    padding: 20px;
}

#contact a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
}

#contact a:hover{
    text-decoration: underline;
}



/*cta*/

#cta{
    background-color: #000;
    text-align:center;
}

#cta a{
    display:inline-block;
    padding:40px 30px;
    margin: 20px 0px 50px 0px;
    background-color: rgba(255,255,255,.85);
    text-decoration: none;
    color:#000;
    font-weight: bold;
    transition:.2s;
}

#cta a:hover{
    background-color: rgba(255,255,255,1);
    transform: scale(1.1);
}


/*Mobile*/
@media (max-width:600px){
    
    /*Nav*/
    #mobileNav{
        display: inline-block;
        background-color:#000;
        position: absolute;
        width:100%;
    }
    
    nav {
        position:static;
        margin:100px 0px 0px 0px;
        display:none;
        text-align: center;
    }
    
    nav li{
        display:block;
        padding:0;
    }
    
    nav a {
        width:100%;
        display:block;
        border:none;
        border-bottom: 1px solid #fff;
        color: #fff;
        text-decoration: none;
        padding: 5px 0px;
    }
    
    #logo{display:none;}
    
    /*Contact*/
    #me{
        flex-direction:column;
        margin:0;
    }
    
    #aboutPic{
        width:75%;
        margin:120px auto 40px auto;
    }
    
    #about{
        width:100%;
        margin:0;
    }
    
    #aboutText h1, #contact{text-align:center;}
    
    #aboutText{
        line-height:1;
        margin-bottom:40px;
    }
    
    #aboutText p{ 
        padding:15px 35px;
        
    }
    

    
    footer{display:none;}
}


