*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-style: bold 700;
}

a{
    text-decoration:none;
    color:#000;
}




/*Navigation*/
#mobileNav{display:none;}

header{
    min-width:100%;
    background-color:#000;
    display:flex;
    position:fixed;
    top:0;
    border-bottom: 3px solid #fff;
    z-index:2;
}

header img{
    height:80px;
    padding:10px 0px 15px 20px;
}

nav{
    width:100%;
    text-align:right;
    margin:30px 0px;
}

nav li{
    display:inline-block;
    padding: 0px 30px;
}

nav a{
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}


/*Hero*/
#hero{
    margin: 75px 0px 0px 0px;
    background-image:url(../img/bg.jpeg);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
    padding:20px 0px;
}

#hero p{padding-top:20px;}

#hero h3{padding:5px;}

.overlay{
    background-color: rgba(255,255,255, .85);
    width: 75%;
    text-align: center;
    margin: 50px auto;
    padding:50px;
    animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode:both;
    
}

@keyframes grow{
    0% {
        transform:scale(1);
        background-color:rgba(255,255,255, .85);
    }
    50%{
        transform: scale(1.25);
        background-color:rgba(255,255,255,1);
    }
    100% {
        transform:scale(1);
        background-color:rgba(255,255,255, .85);
    }
}


/*Portfolio*/
.section{
    background-color:#000;
    margin: 0px 0px 20px 0px;
    color:#fff;
}

.section h1{
    padding:40px 0px;
    text-align: center;
}


.content{
    display:flex;
    background-color:#fff;
    padding: 50px;
    border-top: solid 2px #eee;
    color:#000;
}

.contentb{
    display:flex;
    flex-direction: row-reverse;
    background-color:#fff;
    padding: 50px;
    border-top: solid 2px #eee;
    color:#000;
}

.contentb .c40 {text-align:right;}

.c40{width:40%;}
.c60{width:60%;}

.c40 img {max-width:100%;}
.c40 iframe{max-width:100%;}
.c60 p{
    max-width:100%;
    line-height: 2;
}

.c60 h2{
    margin: 0px 30px;
}

.c60 p{
    margin:0px 30px;
    padding: 20px 0px;
}

.c60 a{text-decoration:underline;}

#writingContainer
{
    width:100%;
    display:flex;
    background-color: #fff;
    text-align:center;
}

#writing a{
    color:#fff;
    background-color:#000;
    padding:20px;
    margin:20px;
}

#writing a:hover{
    background-color:#474747;
    transform: scale(1.1);
}

.ss {
    width:100%;
    height:100%;
    background-size: contain;
    background-repeat: no-repeat;
}

#ss1{
    background-image: url(../img/seq1.jpg);
    animation: slide1 25s infinite; 
}

#ss2{
    background-image: url(../img/fbPage.png);
    animation: slide2 25s infinite; 
}


@keyframes slide1{
    16%{
         background-image: url(../img/seq1.jpg);
    }
    32%{
        background-image: url(../img/seq2.jpg);
    }
    48%{
        background-image: url(../img/seq3.jpg);
    }
    64%{
        background-image: url(../img/seq4.jpg);
    }
    80%{
        background-image: url(../img/seq5.jpg);
    }
    100%{
        background-image: url(../img/seq6.jpg);
    }  
}

@keyframes slide2{
    50%{
         background-image: url(../img/fbPage.png);
    }
    100%{
        background-image: url(../img/chocolate.jpg);
    }
}




/*cta*/

#cta{
    background-color: #000;
    text-align:center;
    height:150px;
}

#cta a{
    display:inline-block;
    padding:40px 30px;
    margin: 20px 0px 50px 0px;
    background-color: rgba(255,255,255,.85);
    text-decoration: none;
    color:#000;
    font-weight: bold;
    transition:.2s;
}

#cta a:hover{
    background-color: rgba(255,255,255,1);
    transform: scale(1.1);
}


/*Mobile*/
@media (max-width:850px){
    /*Nav*/
    #mobileNav{
        display: inline-block;
        background-color:#000;
        position: absolute;
        width:100%;
    }
    
    nav {
        position:static;
        margin:100px 0px 0px 0px;
        display:none;
        text-align: center;
    }
    
    nav li{
        display:block;
        padding:0;
    }
    
    nav a {
        width:100%;
        display:block;
        border:none;
        border-bottom: 1px solid #fff;
        color: #fff;
        text-decoration: none;
        padding: 5px 0px;
    }
    
    #logo{display:none;}
    

    /*Portfolio*/
    .content, .contentb{flex-direction:column;}
    
    .c40, .c60{width:100%;}
    
    .c60 h2 {
        margin:0;
        padding-top:15px;
    }
    
    .c60 p{
        padding: 10px 0 0 0;
        margin:0px;
    }
}

